body {
    margin: 0;
}

#box {
    margin-right: auto;
    margin-left: auto;
}

#baloon {
    width: 360px;
    height: 150px;
}

#baloon #info {
    float: left;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 200px;
}

#baloon #photo {
    float: left;
}

#share {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#share #url {
    cursor: pointer;
    font: 15px Open Sans,Arial,Helvetica,sans-serif;
}
input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

h1 {
    font: 70px Open Sans,Arial,Helvetica,sans-serif;
}

#form-container {
    display: table-cell;
    width: inherit;
    height: inherit;
    vertical-align: middle;
    text-align: center;
}

#form {
    display: inline-block;
    width: inherit;
    height: 50%;
}

#left-column {
    width: 39vw;
    height: 99vh;
    margin: 0;
    float: left;
}

#right-column {
    width: 59vw;
    height: 100vh;
    margin: 0;
    float: right;
}

#map {
    width: 100%;
    height: inherit;
}

.popup-content {
    width: 250px;
}
